@font-face {
    font-family: poppins-medium ;
    src: url(./Font/Poppins/Poppins-Medium.ttf);
}
body{
    background-color: #F5F6F6;
    font-family: poppins-medium ;
   margin: 0vw 5vw 0vw 5vw;
}

